@font-face {
   font-family: 'amatic';
   src: url('assets/font/webfont-amatic-regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'amatic';
   src: url('assets/font/webfont-amatic-bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
}

@font-face {
   font-family: 'caudex';
   src: url('assets/font/webfont-caudex-regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'caudex';
   src: url('assets/font/webfont-caudex-bold.woff') format('woff');
   font-weight: bold;
   font-style: normal;
   
}

@font-face {
   font-family: 'caudex';
   src: url('assets/font/webfont-caudex-italic.woff') format('woff');
   font-weight: normal;
   font-style: italic;
}
