@font-face {
    font-family: 'amatic';
    src: url('assets/webfont-amaticsc-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'amatic';
    src: url('assets/webfont-amatic-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'caudex';
    src: url('assets/webfont-caudex-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'caudex';
    src: url('assets/webfont-caudex-bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    
}

@font-face {
    font-family: 'caudex';
    src: url('assets/webfont-caudex-italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
