// SIZES
$unit: 3rem;

// COLORS
$white: white;
$black: #706F6D;
$link: rgba(#543, 0.7);
$header-link: $link;
$D: hsl(167, 28%, 80%);
$C: hsl( 45, 30%, 84%);
$B: hsl( 15, 33%, 82%);
$A: hsl(188, 30%, 80%);
