<header>
  <div class="logo">
    <a href="#/">Fehu</a>
  </div>
  
  <div class="bricks">
    
    <row class="D">
      <block class="out s7"></block>
      <space class="s10"></space>
      <block class="out s7"></block>
    </row>
    
    <row class="C">
      <block class="out s6"><a href="#/bracelets">Bracelets</a></block>
      <block class="in s2 glyphs" href="#/">
        <a href="https://www.twitter.com"><img src="assets/ui-glyph-twitter.png"></a><!-- kill whitespace
     --><a href="https://www.pinterest.com"><img src="assets/ui-glyph-pinterest.png"></a>
      </block>
      <space class="s8"></space>
      <block class="in s2 glyphs" href="#/">
        <a href="https://www.facebook.com"><img src="assets/ui-glyph-facebook.png"></a><!-- kill whitespace
     --><a href="https://www.instagram.com"><img src="assets/ui-glyph-instagram.png"></a>
      </block>
      <block class="out s6"><a href="#/necklaces">Necklaces</a></block>
    </row>
    
    <row class="B">
      <block class="out s5"><a href="#/rings">Rings</a></block>
      <block class="in s4"><a href="#/about">About</a></block>
      <space class="s6"></space>
      <block class="in s4"><a href="#/events">Events</a></block>
      <block class="out s5"><a href="#/belts">Belts</a></block>
    </row>
    
    <row class="A">
      <block class="out s4"></block>
      <block class="in s6"><a href="#/locations">Locations</a></block>
      <space class="s4"></space>
      <block class="in s6"><a href="#/wholesale">Wholesale</a></block>
      <block class="out s4"></block>
    </row>
  </div>
</header>
