<sliding-container>
  <the-slider ng-style="getStyle($index)">
    
    <div class="variation A" ng-class="getClass(offset+offsetA-1)">
      <img ng-show="hasVariation($index, offsetA-1)" ng-click="clickAction(offset+offsetA-1)" ng-src="{{getVariation($index, offsetA-1).hero}}">
    </div>
    
    <div class="variation B" ng-class="getClass(offset+offsetB)">
      <img ng-show="hasVariation($index, offsetB)" ng-click="clickAction(offset+offsetB)" ng-src="{{getVariation($index, offsetB).hero}}">
    </div>
    
    <div class="variation C" ng-class="getClass(offset+offsetC+1)">
      <img ng-show="hasVariation($index, offsetC+1)" ng-click="clickAction(offset+offsetC+1)" ng-src="{{getVariation($index, offsetC+1).hero}}">
    </div>
    
  </the-slider>
</sliding-container>
