variation-container {
  display: block;
  position: relative;
  height: 90vmin;
  min-height: 50vw;
  overflow: hidden;
  
  .sliding-container {
    position: absolute;
    top: 0.7vmin;
    left: 50%;
    width: 90vmin * 5;
    min-width: 50vw * 5;
    transform: translateX(-50%);
    font-size: 0;
    
    .variation {
      display: inline-block;
      width: 90vmin;
      min-width: 50vw;
      padding: 1vmin;
      cursor: pointer;
      
      &.prev, &.next {
        opacity: 0.2;
      }
      
      &.before, &.after {
        opacity: 0;
      }
      
      img {
        width: 100%;
      }
    }
  }
}
