.showingProductInfo {
  the-slider {
    
  }
}

variation-container {
  display: block;
  position: relative;
  height: 90vmin;
  min-height: 50vw;
  overflow: hidden;
  
  sliding-container {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 90vmin * 3;
    min-width: 50vw * 3;
    margin-top: 1.4vmin;
    transform: translateX(-50%);
    font-size: 0;
    overflow: hidden;
    
    the-slider {
      display: block;
      transition: transform 1s;
    }
    
    .variation {
      display: inline-block;
      width: 90vmin;
      min-width: 50vw;
      padding: 1vmin;
      
      &.A, &.C {
        opacity: 0.2;
      }
      
      img {
        cursor: pointer;
        width: 100%;
      }
      
      &.next img {
          cursor: e-resize;
      }
      
      &.prev img {
        cursor: w-resize;
      }
    }
  }
}
