<horizontal-slider>
  <vertical-slider ng-style="getVerticalPositionStyle()">
    <variation class="A" ng-class="getClass(offset+offsetA-1)" ng-click="clickAction(offset+offsetA-1)" bimg="{{getHero(offsetA-1)}}"></variation>
    <variation class="B" ng-class="getClass(offset+offsetB)"   ng-click="clickAction(offset+offsetB)"   bimg="{{getHero(offsetB)}}"  ></variation>
    <variation class="C" ng-class="getClass(offset+offsetC+1)" ng-click="clickAction(offset+offsetC+1)" bimg="{{getHero(offsetC+1)}}"></variation>
  </vertical-slider>
</horizontal-slider>
