<div class="sliding-container">
  <div class="slider">
    
    <div class="variation A" ng-click="clickAction(offset+offsetA-1)" ng-class="getClass(offset+offsetA-1)">
      <img ng-src="{{getVariation($index, offsetA-1).hero}}">
    </div>
    
    <div class="variation B" ng-click="clickAction(offset+offsetB)" ng-class="getClass(offset+offsetB)">
      <img ng-src="{{getVariation($index, offsetB).hero}}">
    </div>
    
    <div class="variation C" ng-click="clickAction(offset+offsetC+1)" ng-class="getClass(offset+offsetC+1)">
      <img ng-src="{{getVariation($index, offsetC+1).hero}}">
    </div>
    
  </div>
</div>
