#wholesale {
		
	h2 {
		padding: 1em 0;
		text-align: center;
	}
	
	p {
		padding: 1em 0;
		text-align: center;
	}
	
	.calculator{
		display: block;
		text-align:center;
		font-size: 1.5em;
		padding: $unit;
	
		div{
			display: inline-block;
		}
	}
		
	.order-line-up{
		text-align: center;
		
		img {
			display: inline-block;
			width: $unit * 3;
		}
		
		.product {
			display: inline-block;
			padding: $unit/3;
		}
		
		.quantity {
			display: block;
			font-size: 1.5em;
			text-align: center;
		}

		.button, .value {
			display: inline-block;
			width: $unit;
		}
		
		.button {
			background: #FAFAFA;
			height: $unit;
			line-height: $unit;
		}
	}
	
	.order-form {
		text-align: center;
		
		.button {
			display:inline-block;
			background: #FAFAFA;
			height: $unit;
			line-height: $unit;
			padding: 0 $unit/2;
			margin: $unit;
		}
	}
}
