<h2>Wholesale</h2>

<p>This is my first time ordering from you yes/no</p>

<p>Verification is easy so very very easy and stinky do not forget about stinky</p>

<h2>Order</h2>

<div class="calculator">
  <div>47</div>
  <div>Wrap Cuffs </div>
  <div> X </div>
  <div>$17</div>
  <div>=</div>
  <div>$0</div>
</div>

<div class="order-line-up">
  
  <div class="product" ng-repeat="product in products">
    <h1>{{product.name}}</h1>
    <div class="variation" ng-repeat="variation in product.variations">
      <img ng-src="{{variation.white}}">
      <div class="quantity">
        <div class="plus button">-</div>
        <div class="value">0</div>
        <div class="minus button">+</div>
      </div>
    </div>
  </div>

</div>

<div class="calculator">
  <div>47</div>
  <div>Wrap Cuffs </div>
  <div> X </div>
  <div>$17</div>
  <div>=</div>
  <div>$0</div>
  <br/>
  <div>The total for your entire order is $300</div>
</div>

<div class="order-form">


<p>My preffered delivery date is <input type="text"></input>.</p>

<div class="button">Pay now</div>

<div class="button">Pay later</div>

</div>
