/* Known limitation: by default, Chrome and Safari on OS X allow very limited styling of `select`, unless a `border` property is set. */
/**** GENERAL [optional] NICENESS ****/
/* Zero-out "matter of taste" styles (Ivan) */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0; }

/* Disable text selection for UI... (Ivan) */
* {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default; }

/* ...but keep selection enabled for text! (Ivan) */
p,
p *,
input,
textarea,
.selectable,
.selectable *,
[contentEditable] {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: inherit; }

/* Editable elements deserve a text cursor (Ivan) */
input,
input.selectable,
.selectable input,
textarea,
textarea.selectable,
.selectable textarea,
[contentEditable], [contentEditable].selectable, .selectable [contentEditable] {
  cursor: text; }

/* Links and inputs deserve a pointer (Ivan) */
a,
a.selectable,
.selectable a,
a *,
a *.selectable,
.selectable a *,
label,
label.selectable,
.selectable label,
button,
button.selectable,
.selectable button,
input[type="button"],
input[type="button"].selectable,
.selectable input[type="button"],
input[type="checkbox"],
input[type="checkbox"].selectable,
.selectable input[type="checkbox"],
input[type="file"],
input[type="file"].selectable,
.selectable input[type="file"],
input[type="image"],
input[type="image"].selectable,
.selectable input[type="image"],
input[type="radio"],
input[type="radio"].selectable,
.selectable input[type="radio"],
input[type="reset"],
input[type="reset"].selectable,
.selectable input[type="reset"],
input[type="submit"],
input[type="submit"].selectable,
.selectable input[type="submit"],
select, select.selectable, .selectable select {
  cursor: pointer; }

/* Style links like their surrounding content (Ivan) */
a {
  color: inherit;
  text-decoration: none; }

/* Embedded contexts should be big and beefy! (Ivan) */
iframe,
object,
canvas,
progress,
video {
  display: block; }

/* Remove the outline around GUI (Ivan) */
input,
select,
textarea {
  outline: 0; }

/* Remove the styling from fieldsets (Ivan) */
fieldset {
  margin: 0;
  padding: 0;
  border: 0; }

/**** BEST PRACTICES ****/
/* The page should fill the page! (Ivan) */
html {
  width: 100%;
  height: 100%; }

/* Include padding and borders in width calculations (Paul Irish: paulirish.com/2012/box-sizing-border-box-ftw) */
*,
*:before,
*:after {
  box-sizing: border-box; }

/* Remove the 2px border around iframes (Ivan) */
iframe {
  border: 0; }

/**** CROSS-BROWSER STANDARDIZATION ****/
/* Set default font to Arial on Windows, Helvetica on Mac */
html {
  font-family: sans-serif; }

/* Remove default margin */
body {
  margin: 0; }

/* Set display: block
 * 1. all HTML5 elements in IE 8/9
 * 2. details and summary in IE 10/11 and Firefox
 * 3. main in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

/* Fix IE 8/9. */
progress,
audio {
  display: inline-block; }

/* Fix Chrome, Firefox, and Opera. */
progress {
  vertical-align: baseline; }

/* Prevent modern browsers from displaying audio without controls. */
audio:not([controls]) {
  display: none; }

/* Address [hidden] styling not present in IE 8/9/10 */
/* Hide the template element in IE 8/9/11, Safari, and Firefox < 22 */
[hidden],
template {
  display: none; }

/* Fix active links having a grey background in IE 10 */
a {
  background-color: transparent; }

/* Remove those annoying link glows */
a:active,
a:hover {
  outline: 0; }

/* Don't default to bolder in Firefox, Safari, and Chrome */
b,
strong {
  font-weight: bold; }

/* Standarize h1 values within section and article contexts in Firefox, Safari, and Chrome. */
h1 {
  font-size: 2em; }

/* Fix inconsistent and variable font size in all browsers. */
small {
  font-size: 80%; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Remove border when inside `a` element in IE 8/9/10. */
img {
  border: 0; }

/* Correct overflow not hidden in IE 9/10/11. */
svg:not(:root) {
  overflow: hidden; }

/* Address margin not present in IE 8/9 and Safari. */
figure {
  margin: 1em 40px; }

/* Address differences between Firefox and other browsers. */
hr {
  height: 0; }

/* Contain overflow in all browsers. */
pre {
  overflow: auto; }

/* Address odd `em`-unit font size rendering in all browsers. */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* 1. Correct color not being inherited. Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/* Address `overflow` set to `hidden` in IE 8/9/10/11. */
button {
  overflow: visible; }

/* Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/* 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio` and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type `input` and others.
 */
button,
html input[type="button"], input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/* Re-set default cursor for disabled elements. */
button[disabled],
html input[disabled] {
  cursor: default; }

/* Remove inner padding and border in Firefox */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* Address Firefox setting `line-height` on `input` using `!important` in the UA stylesheet. */
input {
  line-height: normal; }

/* It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

/* Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/* 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/* Remove default vertical scrollbar in IE 8/9/10/11. */
textarea {
  overflow: auto; }

/* Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Remove most spacing between table cells. */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'amatic';
  src: url("assets/webfont-amatic-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'amatic';
  src: url("assets/webfont-amatic-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'caudex';
  src: url("assets/webfont-caudex-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'caudex';
  src: url("assets/webfont-caudex-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'caudex';
  src: url("assets/webfont-caudex-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

a {
  color: rgba(85, 68, 51, 0.7); }

bimg, [bimg] {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

h1 {
  font-family: 'amatic'; }

img {
  vertical-align: middle; }

html {
  font-family: caudex;
  color: #706F6D;
  background-color: white; }

ng-view {
  display: block;
  max-width: 60rem;
  margin: 0 auto;
  clear: both; }

p {
  margin: 0; }

select {
  background: white;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: rgba(85, 68, 51, 0.7); }

header {
  position: relative;
  background: white;
  margin: 0 auto; }
  @media (max-width: 600px) {
    header {
      font-size: 0.9em; } }
  @media (max-width: 500px) {
    header {
      font-size: 0.8em; } }
  @media (max-width: 400px) {
    header {
      font-size: 0.7em; } }
  header .logo {
    position: absolute;
    text-align: center;
    top: 6.0em;
    left: 50%;
    z-index: 0;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    header .logo a {
      font-size: 5.5em;
      font-family: amatic; }
      @media (max-width: 400px) {
        header .logo a {
          font-size: 4em; } }
    @media (max-width: 600px) {
      header .logo {
        top: 2.8em; } }
  header .bricks {
    text-align: center;
    letter-spacing: .15em;
    text-transform: uppercase; }
    @media (max-width: 600px) {
      header .bricks {
        letter-spacing: 0; } }
  header row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto; }
  header block {
    display: block;
    -webkit-flex: 1 4 auto;
        -ms-flex: 1 4 auto;
            flex: 1 4 auto;
    height: 3.5em;
    line-height: 3.5em; }
    @media (max-width: 600px) {
      header block {
        height: 2.8em;
        line-height: 2.8em; } }
    header block.in {
      -webkit-flex: 0 2 auto;
          -ms-flex: 0 2 auto;
              flex: 0 2 auto; }
    header block.glyphs a {
      display: inline-block;
      width: 50%;
      padding: 0 10%; }
    header block.glyphs img {
      max-width: 100%;
      vertical-align: middle; }
    header block a {
      font-size: 1.1em;
      color: rgba(85, 68, 51, 0.7); }
  header space {
    -webkit-flex: 0 5 auto;
        -ms-flex: 0 5 auto;
            flex: 0 5 auto; }
  header .s2 {
    width: 6rem; }
  header .s4 {
    width: 12rem; }
  header .s5 {
    width: 15rem; }
  header .s6 {
    width: 18rem; }
  header .s7 {
    width: 21rem; }
  header .s8 {
    width: 24rem; }
  header .s10 {
    width: 30rem; }
  header .D {
    max-width: 90rem; }
  header .C {
    max-width: 84rem; }
  header .B {
    max-width: 78rem; }
  header .A {
    max-width: 72rem; }
  header .D .out {
    background-color: #a7cdc5;
    border-bottom: 6px solid #9dc8bf; }
  header .C .in {
    background-color: #e2dcca;
    border-bottom: 6px solid #dbd4bd; }
  header .C .out {
    background-color: #d6cdb3;
    border-bottom: 6px solid #d1c7a9; }
  header .B .in {
    background-color: #e0cac2;
    border-bottom: 6px solid #d9beb4; }
  header .B .out {
    background-color: #d4b5aa;
    border-bottom: 6px solid #cfaca0; }
  header .A .in {
    background-color: #bdd7db;
    border-bottom: 6px solid #afcfd4; }
  header .A .out {
    background-color: #a5c9cf;
    border-bottom: 6px solid #9cc3c9; }

product-info.showingProductInfo {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
  margin-bottom: 4em; }

product-info {
  display: none;
  position: relative;
  width: 88.4vmin;
  min-width: 60vw;
  margin: -16em auto -2.4em;
  padding: 2vmin;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: rgba(255, 255, 255, 0.9);
  box-shadow: black;
  z-index: 4;
  opacity: 0;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
  transition: opacity 1s, -webkit-transform 1s, margin 1s;
  transition: opacity 1s, transform 1s, margin 1s; }
  product-info identity-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
    product-info identity-info h1 {
      font-size: 4em;
      margin: 0 0 0.2em; }
  product-info descriptive-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 1.2em; }
    product-info descriptive-info .character {
      font-style: italic;
      margin-right: 3em; }
  product-info purchasing-info {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    max-width: 36rem;
    margin: 1em auto 0;
    font-size: 1.4em; }
    product-info purchasing-info select {
      border: 1px solid #706F6D;
      background: transparent;
      padding: 0 0.4em 0.1em; }
    product-info purchasing-info .add-to-cart {
      border-bottom: 1px solid #706F6D; }
  product-info stub-info {
    display: block;
    text-align: center;
    margin: .5em 0 0; }
    product-info stub-info div {
      display: inline-block; }
    product-info stub-info h3 {
      padding: .3rem;
      display: inline-block; }
  product-info line-info, product-info shop-info {
    display: block;
    display: none;
    max-width: 36rem;
    margin: 0 auto; }
    product-info line-info h3, product-info shop-info h3 {
      margin: 1em 0 0; }
    product-info line-info h2, product-info shop-info h2 {
      margin: 1.6em 0 0; }
    product-info line-info .tut, product-info shop-info .tut {
      width: 6.8rem;
      display: inline-block;
      vertical-align: top;
      margin: 0 1.5rem 0 0; }
      product-info line-info .tut img, product-info shop-info .tut img {
        width: 100%; }
      product-info line-info .tut p, product-info shop-info .tut p {
        text-align: center; }
  product-info shop-info {
    padding-bottom: 100px; }

variations {
  display: block;
  height: 90vmin;
  min-height: 50vw;
  padding-left: 50%;
  margin-top: 2vmin;
  overflow: hidden; }
  variations horizontal-slider {
    display: block;
    width: calc((90vmin + 2vmin) * 3);
    min-width: calc((50vw + 2vmin) * 3); }
    variations horizontal-slider vertical-slider {
      display: block;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      font-size: 0;
      transition: -webkit-transform 1s;
      transition: transform 1s; }
      variations horizontal-slider vertical-slider variation {
        display: inline-block;
        cursor: pointer;
        width: calc(90vmin + 2vmin);
        height: 90vmin;
        min-width: calc(50vw + 2vmin);
        min-height: 50vw; }
        variations horizontal-slider vertical-slider variation.A, variations horizontal-slider vertical-slider variation.C {
          opacity: 0.2; }
        variations horizontal-slider vertical-slider variation.next {
          cursor: e-resize; }
        variations horizontal-slider vertical-slider variation.prev {
          cursor: w-resize; }

#shop ng-view {
  max-width: none;
  padding-bottom: 2vmin; }

#wholesale h2 {
  padding: 1em 0;
  text-align: center; }

#wholesale p {
  padding: 1em 0;
  text-align: center; }

#wholesale .calculator {
  display: block;
  text-align: center;
  font-size: 1.5em;
  padding: 3rem; }
  #wholesale .calculator div {
    display: inline-block; }

#wholesale .order-line-up {
  text-align: center; }
  #wholesale .order-line-up img {
    display: inline-block;
    width: 9rem; }
  #wholesale .order-line-up .product {
    display: inline-block;
    padding: 1rem; }
  #wholesale .order-line-up .quantity {
    display: block;
    font-size: 1.5em;
    text-align: center; }
  #wholesale .order-line-up .button, #wholesale .order-line-up .value {
    display: inline-block;
    width: 3rem; }
  #wholesale .order-line-up .button {
    background: #FAFAFA;
    height: 3rem;
    line-height: 3rem; }

#wholesale .order-form {
  text-align: center; }
  #wholesale .order-form .button {
    display: inline-block;
    background: #FAFAFA;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1.5rem;
    margin: 3rem; }
